// import the styles for our components
@import 'components/pod-styles';
@import 'variables';

.ember-application {
    margin: initial;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: @background-main;
    color: @font-color-main;

    .page-content {
        text-align: center;
    }

    a {
        color: white;
    }
}
