@import 'variables';

& {
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: @juggle-purple;

    .juggle-logo {
        margin: 5px 15px;
        flex: 0 90px;
        
        img {
            height: 50px;
        }
    }

    .nav-options {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-evenly;

        .nav-tab {
            flex: 0 50px;
            align-self: center;
        }
    }
}
