<div class="juggle-logo">
    <img src="/assets/images/juggle_banner.png" alt="Game Juggle" >
</div>
<div class="nav-options">
    <div class="nav-tab nav-home">
        {{#link-to "application" class="nav-about-home"}}
            Home
        {{/link-to}}
    </div>
    <div class="nav-tab nav-about">
        {{#link-to "about" class="nav-about-link"}}
            About
        {{/link-to}}
    </div>
    <div class="nav-tab nav-games">
        {{#link-to "games" class="nav-about-link"}}
            Games
        {{/link-to}}
    </div>
</div>